body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 16px;
  color: #7f8a86;
}

.body {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 945px;
  min-height: 100%;
}

.head {
  margin: 50px 0 0 0;
  overflow: auto;
}

.logo {
  float: left;
  height: 120px;
  width: 260px;
  background-image: url(/images/logo.png);
}

.header-text {
  float: left;
  margin-left: 15px;
  margin-top: 32px;
  width: 350px;
  background-color: white;
}

.nav {
  margin: 30px 0 0 0;
  width: 930px;
  height: 25px;
  background-image: url(/images/line.png);
}

.nav::before {
  width: 8px;
  height: 23px;
  float: left;
  content: "";
  background-image: url(/images/line_left.png);
}

.nav::after {
  width: 8px;
  height: 23px;
  margin-top: 1px;
  float: right;
  content: "";
  background-image: url(/images/line_right.png);
 }

.nav-link {
  margin-left: 107px;
  border: solid white;
  border-width: 0 15px;
}

.thumbnails {
  margin: 23px 0 0 0;
  width: 945px;
  overflow: auto;
}

.thumbnail {
  float: left;
  margin: 0 15px 15px 0;
  height: 200px;
}

.overlay {  
    background:rgba(20, 130, 130, 0.5);
    opacity:0;    
    width: 300px;
    height: 200px;
    transition: opacity 0.25s ease-in-out;
    text-align:center;
}
   


.thumbnail:hover .overlay {
    opacity:1;
}
.caption img{
    position: relative;
    top: 23px;
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	width: auto;
	height: auto;
	margin-top: 2%;
  margin-bottom: 2%
}

.lightbox:target {
	outline: none;
	display: block;
  overflow: scroll;
}
 
.nav.nav-bottom{
  margin: 10px 0 0 0;
  text-align: center;
}


.footer-text {
  background-color: white;
  border: solid white;
  border-width: 0 10px;
  position: relative;
  top: 3px;
}


a:link {
  color: #00CC99;
}

a:visited {
  color: #993399
}
