<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/photos/photos2.css">
  </head>
  <body>
    <div class="body">
      <div class="head">
        <div class="logo"></div>
        <div class="header-text">
        </div>
      </div>
      <div class="nav">
        <a href="http://www.justinbailey.net">
          <img src="/images/work.png" class="nav-link"/>
        </a>

        <a href=mailto:bailey.justin@gmail.com>
          <img src="/images/contact.png" class="nav-link"/>
        </a>

        <a href="http://blog.justinbailey.net">
          <img src="/images/blog.png" class="nav-link" />
        </a>

        <a href="/photos">
          <img src="/images/photography.png" class="nav-link" />
        </a>
      </div>

      {{ content }}

      <div class="nav nav-bottom">
        <span class="footer-text">Design and content &copy; Justin Bailey 2018</span>
      </div>
    </div>
  </body>
</html>
