body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 16px;
  color: #7f8a86;
}

.body {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 930px;
  min-height: 100%;
}

.head {
  margin: 50px 0 0 0;
  overflow: auto;
}

.logo {
  float: left;
  height: 120px;
  width: 260px;
  background-image: url(/images/logo.png);
}

.header-text {
  float: left;
  margin-left: 15px;
  margin-top: 32px;
  width: 350px;
  background-color: white;
}

.nav {
  margin: 30px 0 0 0;
  width: 930px;
  height: 25px;
  background-image: url(/images/line.png);
}

.nav::before {
  width: 8px;
  height: 23px;
  float: left;
  content: "";
  background-image: url(/images/line_left.png);
}

.nav::after {
  width: 8px;
  height: 23px;
  margin-top: 1px;
  float: right;
  content: "";
  background-image: url(/images/line_right.png);
 }

.nav-link {
  margin-left: 107px;
  border: solid white;
  border-width: 0 15px;
}

.thumbnails {
  margin: 23px 0 0 0;
  width: 945px;
  overflow: auto;
}

.thumbnail {
  float: left;
  margin: 0 15px 15px 0;
  background-color: #9af9d0;
  height: 200px;
}

.thumbnail img {
  transition: opacity 0.25s ease-in-out;
 border: 0;
}

.thumbnail:hover img {
  opacity: 0.1;
}

.content {
  display: table;
  margin: 23px 0;
}

.item {
  float: left;
}

.item-description {
  width: 300px;
  border-left: 30px solid transparent;
  color: black;
  position: absolute;
font-size: 10px
}

h2 {
  font-size: 10px;
  margin-top: 0;
}
 

 
.nav.nav-bottom{
  margin: 10px 0 0 0;
  text-align: center;
}


.footer-text {
  background-color: white;
  border: solid white;
  border-width: 0 10px;
  position: relative;
  top: 3px;
}


a:link {
  color: #00CC99;
}

a:visited {
  color: #993399
}
